name: Android Build

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Build Release Bundle
        # هنا نخبر النظام أن كل العمليات تتم داخل مجلد app
        working-directory: app 
        run: |
          chmod +x gradlew
          ./gradlew bundleRelease --stacktrace

      - name: Upload AAB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          # المسار الجديد بعد الدخول لمجلد app
          path: app/app/build/outputs/bundle/release/*.aab
